# Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import requests
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

In [2]:
 #Import API key
from config import g_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("./World_Weather_Analysis_Challenge_folder/Folder_Vacation_search/weather_database.csv")

FileNotFoundError: [Errno 2] No such file or directory: './World_Weather_Analysis_Challenge_folder/.Folder_Vacation_search/weather_database.csv'

## Step #1

In [4]:
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Albany,US,42.6001,-73.9662,55.00,44,61,1.01,broken clouds,2021-03-31 00:19:36
1,1,Dillon,US,34.4166,-79.3712,68.00,88,90,4.61,overcast clouds,2021-03-31 00:19:37
2,2,Genhe,CN,50.7833,121.5167,30.58,72,19,1.99,few clouds,2021-03-31 00:19:37
3,3,Mwinilunga,ZM,-11.7358,24.4293,59.40,98,81,3.29,broken clouds,2021-03-31 00:19:38
4,4,Ushuaia,AR,-54.8000,-68.3000,44.60,61,0,13.80,clear sky,2021-03-31 00:19:38

In [5]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Date                    object
dtype: object

In [6]:
city_data_df.columns

Index(['City_ID', 'City', 'Country', 'Lat', 'Lng', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Current Description', 'Date'],
      dtype='object')

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

## Step #2

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Step #3

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [10]:
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
5,5,Hambantota,LK,6.1241,81.1185,79.74,83,82,10.07,broken clouds,2021-03-31 00:19:39
7,7,Yilan,TW,24.7570,121.7530,77.00,99,97,3.31,overcast clouds,2021-03-31 00:19:40
10,10,Kapaa,US,22.0752,-159.3190,80.60,69,40,11.50,light rain,2021-03-31 00:17:12
13,13,Sorong,ID,-0.8833,131.2500,79.95,82,91,4.09,light rain,2021-03-31 00:17:07
14,14,Rikitea,PF,-23.1203,-134.9692,78.62,70,8,14.67,clear sky,2021-03-31 00:19:42
25,25,Hilo,US,19.7297,-155.0900,78.80,65,90,11.50,overcast clouds,2021-03-31 00:19:46
26,26,Atuona,PF,-9.8000,-139.0333,80.80,75,83,19.44,broken clouds,2021-03-31 00:19:46
28,28,Avarua,CK,-21.2078,-159.7750,84.20,74,75,17.27,broken clouds,2021-03-31 00:19:47
29,29,Bengkulu,ID,-3.8004,102.2655,75.04,86,100,3.42,overcast clouds,2021-03-31 00:19:47
37,37,Pyapon,MM,16.2833,95.6833,75.96,90,52,3.51,broken clouds,2021-03-31 00:17:15

## Step #4a & 4b

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                205
City                   205
Country                205
Lat                    205
Lng                    205
Max Temp               205
Humidity               205
Cloudiness             205
Wind Speed             205
Current Description    205
Date                   205
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
5,5,Hambantota,LK,6.1241,81.1185,79.74,83,82,10.07,broken clouds,2021-03-31 00:19:39
7,7,Yilan,TW,24.7570,121.7530,77.00,99,97,3.31,overcast clouds,2021-03-31 00:19:40
10,10,Kapaa,US,22.0752,-159.3190,80.60,69,40,11.50,light rain,2021-03-31 00:17:12
13,13,Sorong,ID,-0.8833,131.2500,79.95,82,91,4.09,light rain,2021-03-31 00:17:07
14,14,Rikitea,PF,-23.1203,-134.9692,78.62,70,8,14.67,clear sky,2021-03-31 00:19:42
...,...,...,...,...,...,...,...,...,...,...,...
687,687,Kuala Terengganu,MY,5.3302,103.1408,75.20,94,40,4.61,moderate rain,2021-03-31 00:24:59
692,692,Atar,MR,20.5169,-13.0499,82.02,17,40,5.26,scattered clouds,2021-03-31 00:25:01
701,701,Palu,ID,-0.8917,119.8707,81.07,79,69,1.72,broken clouds,2021-03-31 00:25:04
704,704,Bubaque,GW,11.2833,-15.8333,76.01,72,90,17.54,overcast clouds,2021-03-31 00:25:05
712,712,Mahajanga,MG,-15.7167,46.3167,78.80,94,40,4.61,scattered clouds,2021-03-31 00:25:07

In [13]:
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

## Step #5a-5b

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
#hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

In [15]:
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Hambantota,LK,79.74,broken clouds,6.1241,81.1185,
7,Yilan,TW,77.00,overcast clouds,24.7570,121.7530,
10,Kapaa,US,80.60,light rain,22.0752,-159.3190,
13,Sorong,ID,79.95,light rain,-0.8833,131.2500,
14,Rikitea,PF,78.62,clear sky,-23.1203,-134.9692,
25,Hilo,US,78.80,overcast clouds,19.7297,-155.0900,
26,Atuona,PF,80.80,broken clouds,-9.8000,-139.0333,
28,Avarua,CK,84.20,broken clouds,-21.2078,-159.7750,
29,Bengkulu,ID,75.04,overcast clouds,-3.8004,102.2655,
37,Pyapon,MM,75.96,broken clouds,16.2833,95.6833,

In [16]:
hotel_df.count()

City                   205
Country                205
Max Temp               205
Current Description    205
Lat                    205
Lng                    205
Hotel Name             205
dtype: int64

## Step #6a-6f

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
# 6b. Iterate through the hotel DataFrame.
    # 6c. Get latitude and longitude from DataFrame 
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # 6e. Make request and retrieve the JSON data from the search.   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.


params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b.Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    #6c Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    ##Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #6e. Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

# 6f. Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
        
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Hambantota,LK,79.74,broken clouds,6.1241,81.1185,Bungalow 63
7,Yilan,TW,77.00,overcast clouds,24.7570,121.7530,Dar Chen Hotel
10,Kapaa,US,80.60,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
13,Sorong,ID,79.95,light rain,-0.8833,131.2500,The Waigo Hotel
14,Rikitea,PF,78.62,clear sky,-23.1203,-134.9692,Pension Maro'i
...,...,...,...,...,...,...,...
687,Kuala Terengganu,MY,75.20,moderate rain,5.3302,103.1408,Hotel Grand Continental Kuala Terengganu (4 Star)
692,Atar,MR,82.02,scattered clouds,20.5169,-13.0499,Oumou Elghoura
701,Palu,ID,81.07,broken clouds,-0.8917,119.8707,Hotel Santika Palu
704,Bubaque,GW,76.01,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
712,Mahajanga,MG,78.80,scattered clouds,-15.7167,46.3167,Restaurant Greedy Coco Lodge Majunga

In [18]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Hambantota,LK,79.74,broken clouds,6.1241,81.1185,Bungalow 63
7,Yilan,TW,77.00,overcast clouds,24.7570,121.7530,Dar Chen Hotel
10,Kapaa,US,80.60,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
13,Sorong,ID,79.95,light rain,-0.8833,131.2500,The Waigo Hotel
14,Rikitea,PF,78.62,clear sky,-23.1203,-134.9692,Pension Maro'i

In [19]:
hotel_df.shape

(205, 7)

In [33]:
hotel_df.count()

City                   205
Country                205
Max Temp               205
Current Description    205
Lat                    205
Lng                    205
Hotel Name             205
dtype: int64

## Step# 7. Drop the rows where there is no Hotel Name.
# NO EMPTY ROWS

#New variable name 
hotel_df.tail()

# FIX THE OUTPUT FILE

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"

In [35]:
# 8a Create the output File (CSV)
output_data_file = "./Folder_Vacation_search/WeatherPY_Vacation..csv"

In [36]:
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map. 
# 11b. Display the figure
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## NOTE: You will not find an image of the out in the Vacation Search folder due to issue with system.